﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="@Url.Action("Index", "Receptionist")">
                <img src="~/Content/assets/images/brand/fidelity.png" class="header-brand-img" alt="trueVisit logo">
            </a>
            <!--<div class="d-flex d-none">
                <form class="input-icon mt-1 ">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                    <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                </form>
            </div>-->

            @Html.Partial("_StaffProfile")
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="Klast-navbar" id="headerMenuCollapse">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("dashboard", "staff")"><i class="fe fe-home"></i><span style="font-size:20px">Go to My Portal</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("dashboard", "receptionist")"><i class="fe fe-trending-up"></i><span>Statistics</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("signin", "receptionist")"><i class="fe fe-user-plus"></i> <span>Sign In</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("signout", "receptionist")"><i class="fe fe-user-x"></i> <span>Sign Out</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("appointments", "receptionist")"><i class="fe fe-watch"></i><span>Appointments</span></a>
            </li>


        </ul>
    </div>
</div>
<!-- End of Menu -->

@RenderBody()
