﻿
<div class="d-flex order-lg-2 ml-auto">

    <div class="dropdown mt-1">
        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            @{


                string base64 = Session["Thunbnail"] as string;

            }
            @if (string.IsNullOrEmpty(base64))
            {
                <input type="hidden" value="@base64">
                <span class="avatar avatar-md brround" style="background-image: url(https://ui-avatars.com/api/?name=@Session["Nickname"].ToString().Replace('.', '+')"></span>
            }
            else
            {
                <input type="hidden" value="@base64">
                <span class="avatar avatar-md brround" style="background-image: url(data:image/jpeg;base64,@base64)"></span>
            }


        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
            <div class="text-center">
                <span class="dropdown-item text-center font-weight-sembold text-dark user">
                    @{
                        var nick = Session["Nickname"] != null ? Session["Nickname"] : "No nick";
                    }
                    @nick
                </span>
                <span class="text-center user-semi-title text-dark">
                    @{
                        var jobTitle = Session["JobTitle"] != null ? Session["JobTitle"] : "No job title";
                    }
                    @jobTitle
                </span>
                <div class="dropdown-divider"></div>
            </div>
            <a class="dropdown-item" href="faq.html">
                <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
            </a>
            <a class="dropdown-item" href="@Url.Action("SignOut", "Account")">
                <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
            </a>
        </div>
    </div>
</div>
