﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="@Url.Action("Index", "staff")">
                <img src="~/Content/assets/images/brand/fidelity.png" class="header-brand-img" alt="trueVisit logo">
            </a>
            <!--<div class="d-flex d-none">
                <form class="input-icon mt-1 ">
                    <div class="input-icon-addon">
                        <i class="fe fe-search"></i>
                    </div>
                    <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                </form>
            </div>-->
            @Html.Partial("_StaffProfile")
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="Klast-navbar" id="headerMenuCollapse">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("dashboard", "staff")">
                    <i class="ti ti-home"></i>
                    <span> Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("CreateInvite", "staff")"><i class="ti ti-calendar"></i> <span>Make an Appointment</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Appointments", "staff")"><i class="ti ti-pencil"></i> <span>Manage Appointments</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("VisitorLog", "staff")"><i class="ti ti-face-smile"></i><span>Visitor Log</span></a>
            </li>

        </ul>
    </div>
</div>
<!-- End of Menu -->

@RenderBody()