﻿<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>trueVisit</title>
    <link rel="stylesheet" href="assets/fonts/fonts/font-awesome.min.css">

    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">

    <!-- Dashboard Css -->
    <link href="assets/css/dashboard.css" rel="stylesheet" />

    <!-- c3.js Charts Plugin -->
    <link href="assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- Data table css -->
    <link href="assets/plugins/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- Time picker Plugin -->
    <link href="assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" />

    <!-- Date Picker Plugin -->
    <link href="assets/plugins/date-picker/spectrum.css" rel="stylesheet" />

    <!-- Slect2 css -->
    <link href="assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link href="assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
    <link href="assets/plugins/iconfonts/icons.css" rel="stylesheet" />

    <style>
        .avatar:hover {
            -ms-transform: scale(3.0); /* IE 9 */
            -webkit-transform: scale(3.0); /* Safari 3-8 */
            transform: scale(3.);
            z-index: 1;
            position: relative;
        }
    </style>
</head>
<body class="">
    <div id="global-loader"></div>
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="index.html">
                            <img src="assets/images/brand/logo.svg" class="header-brand-img" alt="trueVisit logo">
                        </a>
                        <div class=" ">
                            <form class="input-icon mt-1 ">
                                <div class="input-icon-addon">
                                    <i class="fe fe-search"></i>
                                </div>
                                <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                            </form>
                        </div>
                        <div class="d-flex order-lg-2 ml-auto">

                            <div class="dropdown mt-1">
                                <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                    <span class="avatar avatar-md brround" style="background-image: url(assets/images/faces/male/1.svg)"></span>

                                </a>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                                    <div class="text-center">
                                        <span class="dropdown-item text-center font-weight-sembold text-dark user">Username</span>
                                        <span class="text-center user-semi-title text-dark">Job role</span>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                    <a class="dropdown-item" href="faq.html">
                                        <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                                    </a>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Klast-navbar" id="headerMenuCollapse">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard.html">
                                <i class="ti ti-home"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="appointment.html"><i class="ti ti-calendar"></i> <span>Make an Appointment</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="manage_appointment.html"><i class="ti ti-pencil"></i> <span>Manage Appointments</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="visitor_log.html"><i class="ti ti-face-smile"></i><span>Visitor Log</span></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- End of Menu -->
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h4 class="page-title"> Visitor Log</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Visit History</div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="visitHistory" class="table table-striped table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="wd-15p">Picture</th>
                                                    <th class="wd-15p">Visitor's Name</th>
                                                    <th class="wd-15p">Company</th>
                                                    <th class="wd-15p">Email</th>
                                                    <th class="wd-20p">Phone Number</th>
                                                    <th class="wd-10p">Purpose of Visit</th>
                                                    <th class="wd-15p">Signed In</th>
                                                    <th class="wd-15p">Signed Out</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><img class="avatar bradius avatar-xl d-block" src="assets/images/faces/female/2.jpg" /></td>
                                                    <td>Bella</td>
                                                    <td>Chloe</td>
                                                    <td>System Developer</td>
                                                    <td>2018/03/12</td>
                                                    <td>2012/02/21</td>
                                                    <td>$654,765</td>
                                                    <td>b.Chloe@datatables.net</td>
                                                </tr>
                                                <tr>
                                                    <td><img class="avatar bradius avatar-xl d-block" src="assets/images/faces/male/34.jpg" /></td>
                                                    <td>Donna</td>
                                                    <td>Bond</td>
                                                    <td>Account Manager</td>
                                                    <td>2012/02/21</td>
                                                    <td>2012/02/21</td>
                                                    <td>$543,654</td>
                                                    <td>d.bond@datatables.net</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- table-wrapper -->
                            </div>
                            <!-- section-wrapper -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-12  col-md-5 mt-3 mt-lg-0 text-center d-none d-md-block">
                        <div class="social">
                            <ul class="text-center">
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-7 mt-3 mt-lg-0 text-center">
                        Copyright © 2018 <a href="#">trueVisit</a>. With <i class="fa fa-heart blink text-danger"></i> from <a class="text-success" href="#">Fidelity Bank Digital LAB</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>



    <!-- Dashboard js -->
    <script src="./assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="./assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="./assets/js/vendors/selectize.min.js"></script>
    <script src="./assets/js/vendors/circle-progress.min.js"></script>
    <script src="./assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="./assets/plugins/rating/jquery.rating-stars.js"></script>
    <!-- Data tables -->
    <script src="./assets/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="./assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>

    <!-- Select2 js -->
    <script src="assets/plugins/select2/select2.full.min.js"></script>

    <!-- Timepicker js -->
    <script src="assets/plugins/time-picker/jquery.timepicker.js"></script>
    <script src="assets/plugins/time-picker/toggles.min.js"></script>

    <!-- Popover js -->
    <script src="assets/js/popover.js"></script>

    <!-- Datepicker js -->
    <script src="assets/plugins/date-picker/spectrum.js"></script>
    <script src="assets/plugins/date-picker/jquery-ui.js"></script>
    <script src="assets/plugins/input-mask/jquery.maskedinput.js"></script>

    <!-- Custom scroll bar Js-->
    <script src="assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Sweet alert Plugin -->
    <script src="assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="assets/js/sweet-alert.js"></script>

    <!-- Inline js -->
    <script src="assets/js/select2.js"></script>

    <!-- Custom Js-->
    <script src="assets/js/custom.js"></script>

    <!-- Data table js -->
    <script>
        $(function (e) {
            $('#visitHistory').DataTable();
        });
    </script>


</body>
</html>