﻿@model List<VMS_DIGLAB.Models.Appointment>
@{
    Layout = "~/Views/Shared/_StaffMenuBar.cshtml";
}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Manage Appointments</h4>
        </div>
        @if (TempData["Status"] != null)
        {
            if (TempData["Status"].ToString() == "00")
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                    <strong>@TempData["Message"].ToString()</strong>
                </div>
            }
        }
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Appointments</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="wd-15p">Visitor's Name</th>
                                        <th class="wd-15p">Company</th>
                                        <th class="wd-15p">Email</th>
                                        <th class="wd-20p">Phone Number</th>
                                        <th class="wd-20p">Arrival Date and Time</th>
                                        <th class="wd-10p">Purpose of Visit</th>
                                        <th class="wd-15p">Status</th>
                                        <th class="wd-20p">Purpose</th>
                                        <th class="wd-20p">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VisitorFirstName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.VisitorCompany)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VisitorPhoneNumber)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AppointmentTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Purpose)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AppointmentStatus)
                                            </td>

                                            <td>
                                                <span class="badge badge-pill badge-danger">@Html.DisplayFor(modelItem => item.Purpose)</span>
                                            </td>
                                            <td>
                                                @if (item.AppointmentStatus == VMS_DIGLAB.Models.AppointmentStatus.Pending)
                                                {
                                                    <a data-toggle="modal" data-target="#modifyAppointment" class="test" id="@Html.DisplayFor(modelItem => item.AppointmentId)">
                                                        <i class="fe fe-edit-3" title=""></i>
                                                    </a>
                                                    <br />
                                                    <a data-toggle="modal" data-target="#cancelAppointment" class="test" id="@Html.DisplayFor(modelItem => item.AppointmentId)"><i class="fe fe-x text-danger" title=""></i></a>
                                                }
                                                else
                                                {
                                                    <span>No action to carry out</span>
                                                }
                                            </td>

                                        </tr>
                                    }
                                   

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- table-wrapper -->
                </div>
                <!-- section-wrapper -->

            </div>
        </div>
    </div>
</div>

<!-- Dashboard js -->
<script src="~/Content/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="~/Content/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.sparkline.min.js"></script>
<script src="~/Content/assets/js/vendors/selectize.min.js"></script>
<script src="~/Content/assets/js/vendors/circle-progress.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.tablesorter.min.js"></script>
<script src="~/Content/assets/plugins/rating/jquery.rating-stars.js"></script>
<!-- Data tables -->
<script src="~/Content/assets/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="~/Content/assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>

<!-- Select2 js -->
<script src="~/Content/assets/plugins/select2/select2.full.min.js"></script>

<!-- Timepicker js -->
<script src="~/Content/assets/plugins/time-picker/jquery.timepicker.js"></script>
<script src="~/Content/assets/plugins/time-picker/toggles.min.js"></script>

<!-- Popover js -->
<script src="~/Content/assets/js/popover.js"></script>

<!-- Datepicker js -->
<script src="~/Content/assets/plugins/date-picker/spectrum.js"></script>
<script src="~/Content/assets/plugins/date-picker/jquery-ui.js"></script>
<script src="~/Content/assets/plugins/input-mask/jquery.maskedinput.js"></script>

<!-- Custom scroll bar Js-->
<script src="~/Content/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Sweet alert Plugin -->
<script src="~/Content/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/sweet-alert.js"></script>

<!-- Inline js -->
<script src="~/Content/assets/js/select2.js"></script>

<!-- Custom Js-->
<script src="~/Content/assets/js/custom.js"></script>

<!-- Data table js -->
<script>
    $(function (e) {
        $('#example').DataTable({
            "order": [[3, "desc"]]
        });
    });
</script>
@*<div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h4 class="page-title">Manage Appointments</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Appointments</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p">Visitor's Name</th>
                                            <th class="wd-15p">Company</th>
                                            <th class="wd-15p">Email</th>
                                            <th class="wd-20p">Phone Number</th>
                                            <th class="wd-20p">Arrival Date and Time</th>
                                            <th class="wd-10p">Purpose of Visit</th>
                                            <th class="wd-15p">Status</th>
                                            <th class="wd-20p">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Bella</td>
                                            <td>Chloe</td>
                                            <td>System Developer</td>
                                            <td>2018/03/12</td>
                                            <td>$654,765</td>
                                            <td>b.Chloe@datatables.net</td>
                                            <td><span class="badge badge-pill badge-success">Visited</span></td>
                                            <td><span data-toggle="modal" data-target="#modifyAppointment"><i class="fe fe-edit-3" title=""></i></span> &nbsp;&nbsp; <span data-toggle="modal" data-target="#cancelAppointment"><i class="fe fe-x text-danger" title=""></i></span></td>
                                        </tr>
                                        <tr>
                                            <td>Donna</td>
                                            <td>Bond</td>
                                            <td>Account Manager</td>
                                            <td>2012/02/21</td>
                                            <td>$543,654</td>
                                            <td>d.bond@datatables.net</td>
                                            <td><span class="badge badge-pill badge-danger">Pending</span></td>
                                            <td><span data-toggle="modal" data-target="#modifyAppointment"><i class="fe fe-edit-3" title=""></i></span> &nbsp;&nbsp; <span data-toggle="modal" data-target="#cancelAppointment"><i class="fe fe-x text-danger" title=""></i></span></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- table-wrapper -->
                    </div>
                    <!-- section-wrapper -->

                </div>
            </div>
        </div>
    </div>*@

@*@model List<VMS_DIGLAB.Models.Appointment>


    <div class="submenu">
        <div class="topnav" id="myTopnav">
            <a href="~/Staff/Appointments" class="active">View Appointments</a>
            <a href="~/Staff/CreateInvite">Create Invite</a>
            <a href="~/Staff/VisitorLog">View Visitors</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <i class="fas fa-table" style="font-size: 30px"></i>
                <p>Appointments</p>
            </div>
            <div>
                @if (ViewBag.Status != null)
                {
                <p id="errormessage">
                    @ViewBag.Status

                </p>
                }
                else
                {

                }
            </div>
            <div class="card-body">
                <div class="row table-responsive">
                    <table id="tablelog" class="table table-striped table-bordered display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Visitor First Name</th>
                                <th>Visitor Last Name</th>
                                <th>Arrival Date</th>
                                <th>Arrival Time</th>
                                <th>Location</th>
                                <th>Purpose</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Visitor First Name</th>
                                <th>Visitor Last Name</th>
                                <th>Arrival Date</th>
                                <th>Arrival Time</th>
                                <th>Location</th>
                                <th>Purpose</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VisitorFirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VisitorLastName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Purpose)
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>


    <script>
        $(document).ready(function () {
            var errormessage = $("#errormessage").val();
            console.log(errormessage);
            if (errormessage != "") {
                var message;
                var status;
                var dos;
                switch (errormessage) {
                    case "00":
                        message = "You successfully created an appointment";
                        status = "Good Job!"
                        dos = "success";
                        break;
                    case "99":
                        message = "Error occured creating your appointment";
                        status = "Oops"
                        dos = "error";
                        break;
                    case "XX":
                        message = "Couldn't create your appointment due to wrong input";
                        status = "Wrong input"
                        dos = "error";
                        break;
                    default:
                }
                console.log(message);
                console.log(status);
                console.log(dos);
                swal(status, message, dos);
            }

        });
    </script>
    <script src="~/Content/js/sweetalert.min.js"></script>*@


<script>
    
    $(".test").on('click', function () {
        var appointmentId = this.id;
        

        $.ajax({
            url: "@Url.Action("Detail", "appointments")/" + appointmentId,
            type: 'html', 
            success: function (response) {
                console.log(response)
                $("#visitor-name").val(response.VisitorFirstName); 
                $("#company").val(response.VisitorCompany); 
                //$("#mobile").val(response.VisitorPhoneNumber); 
                $("#date").val(response.ArrivalDate); 
                $("#tpBasic").val(response.ArrivalTime); 
                $("#purpose").val(response.Purpose); 
                $("#email").val(response.Email);
                $("#VisitorPhoneNumber").val(response.VisitorPhoneNumber);
                $("#AppointmentId").val(response.AppointmentId);
                
                console.log();
                if (response.Purpose == 1) {
                    $("#personal").prop("checked", true);
                }
                else if (response.Purpose == 2) {
                    $("#official").prop("checked", true);
                }
                else {
                    $("#other").prop("checked", true);
                }
            }
        });
    });

    //$("#submitModifiedAppointment").click(function () {
    //    alert();
    //});
</script>
