﻿
@model VMS_DIGLAB.Models.Appointment

@{
    Layout = "~/Views/Shared/_StaffMenuBar.cshtml";
}


<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Create an Appointment</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body p-6">
                        <div id="demo">
                            <div class="vertical-align">
                                <div class="container p-0">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @if (ViewBag.Status != null)
                                            {
                                                if (ViewBag.Status != "00")
                                                {
                                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                                        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                                                        <strong>Error</strong> @ViewBag.ErrMessage
                                                    </div>
                                                }
                                            }


                                            <div class="no-border">
                                                <div id="chat" class="conv-form-wrapper">
                                                    <form method="POST" class="hidden" id="form">

                                                        <input type="text" data-conv-question="Howdy, @Model.Host.FullName! It's a pleasure to have you here." data-no-answer="true">
                                                        <input type="text" data-conv-question="I'm Stella your A.I Receptionist, i can help you book an appointment" data-no-answer="true">


                                                        <input type="text" name="VisitorFullName" data-callback="storeState" data-conv-question="What's your visitor's name? (Firstname Lastname)" data-pattern="^(?:(?:[a-zA-Z]+\s+[a-zA-Z]+\s*[a-zA-Z]*))$">

                                                        <input type="text" name="VisitorCompany" data-conv-question="Where does {VisitorFullName}:0 {VisitorFullName}:1 work?">
                                                        <input type="text" data-conv-question="Okay." data-no-answer="true">
                                                        <input type="type" name="VisitorPhoneNumber" data-minlength="11" data-conv-question="What is {VisitorFullName}:0 {VisitorFullName}:1's phone number?" data-pattern="^(?:[\d]{11})$" placeholder="your phone number">
                                                        <input type="text" name="ArrivalDate" data-conv-question="What date are you expecting {VisitorFullName}:0? (DD-MM-YYYY)" data-pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" required placeholder="DD/MM/YYYY">
                                                        <input type="text" name="ArrivalTime" data-conv-question="What time? (in 24hrs format)" data-pattern="^((08)|(09)|([1][0-6])):[0-5][0-9]$">
                                                        <select name="BranchName" data-conv-question="In which Block is your office located?">
                                                            <option value="Block A">Block A</option>
                                                            <option value="Block B">Block B</option>
                                                            <option value="Block C">Block C</option>
                                                            <option value="Fidelity Place"> FIDELITY PLACE </option>
                                                            <option value="HR'S Office"> HR'S OFFICE </option>
                                                        </select>
                                                        <input type="text" data-conv-question="Okay." data-no-answer="true">
                                                        <select name="Purpose" data-conv-question="What is the purpose of {VisitorFullName}:0's visit?">
                                                            <option value="Official">Official</option>
                                                            <option value="Personal">Personal</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                        <select name="confirm" data-conv-question="Please confirm your appointment, Visitor name: {VisitorFullName}:0 {VisitorFullName}:1, Company: {VisitorCompany}:0, Phone number: {VisitorPhoneNumber}:0." id="confirmForm">
                                                            <option value="yes" data-callback="restore">Spot on</option>
                                                            <option value="no" data-callback="rollback">You got it all wrong</option>
                                                        </select>
                                                        <div data-conv-fork="confirm">
                                                            <div data-conv-case="yes">
                                                                <input type="text" data-conv-question="Please wait, while i try to create your appointment" data-no-answer="true">
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Dashboard js -->
<script src="~/Content/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="~/Content/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.sparkline.min.js"></script>
<script src="~/Content/assets/js/vendors/selectize.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.tablesorter.min.js"></script>
<script src="~/Content/assets/js/vendors/circle-progress.min.js"></script>
<script src="~/Content/assets/plugins/rating/jquery.rating-stars.js"></script>
<!-- Chat js -->
<script src="~/Content/assets/plugins/chat/jquery.convform.js"></script>
<script src="~/Content/assets/plugins/chat/autosize.min.js"></script>
<script src="~/Content/assets/js/chat.js"></script>
<!-- Custom scroll bar Js-->
<script src="~/Content/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="~/Content/assets/js/custom.js"></script>