﻿@model  VMS_DIGLAB.ViewModel.StaffDashboardViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>trueVisit</title>
    <link rel="stylesheet" href="~/Content/assets/fonts/fonts/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!--font-family -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">

    <!-- Dashboard Css -->
    <link href="~/Content/assets/css/dashboard.css" rel="stylesheet" />

    <!-- c3.js Charts Plugin -->
    <link href="~/Content/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

    <!-- Morris.js Charts Plugin -->
    <link href="~/Content/assets/plugins/morris/morris.css" rel="stylesheet" />

    <!-- Notifications  Css -->
    <link href="~/Content/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link href="~/Content/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!---Font icons-->
    <link href="~/Content/assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/iconfonts/icons.css" rel="stylesheet" />

</head>
<body class="">
    <div id="global-loader"></div>
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex">
                        <a class="header-brand" href="~/staff/index">
                            <img src="~/Content/assets/images/brand/fidelity.png" class="header-brand-img" alt="trueVisit logo">
                        </a>
                        @*<div class="d-none">
                            <form class="input-icon mt-1 ">
                                <div class="input-icon-addon">
                                    <i class="fe fe-search"></i>
                                </div>
                                <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                            </form>
                        </div>*@
                        @Html.Partial("_StaffProfile")
                        @*<div class="d-flex order-lg-2 ml-auto">

            <div class="dropdown mt-1">
                <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar avatar-md brround" style="background-image: url(~/Content/assets/images/faces/male/1.svg)"></span>

                </a>

                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
                    <div class="text-center">
                        <span class="dropdown-item text-center font-weight-sembold text-dark user">Username</span>
                        <span class="text-center user-semi-title text-dark">Job role</span>
                        <div class="dropdown-divider"></div>
                    </div>
                    <a class="dropdown-item" href="faq.html">
                        <i class="dropdown-icon mdi mdi-compass-outline"></i> Need help?
                    </a>
                    <a class="dropdown-item" href="login.html">
                        <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
                    </a>
                </div>
            </div>
        </div>*@
                        <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Klast-navbar" id="headerMenuCollapse">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("dashboard", "staff")">
                                <i class="ti ti-home"></i>
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("createinvite", "staff")"><i class="ti ti-calendar"></i> <span>Make an Appointment</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("appointments", "staff")"><i class="ti ti-pencil"></i> <span>Manage Appointments</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("visitorlog", "staff")"><i class="ti ti-face-smile"></i><span>Visitor Log</span></a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- End of Menu -->
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="row row-cards">
                        <div class="col-lg-4 col-sm-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="h5">Total Visitors</div>
                                    <div class="h1 font-weight-semibold">@Model.TotalVisitors</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="h5">Signed in Visitors Today</div>
                                    <div class="h1 font-weight-semibold">@Model.TotalSignedInVisitorToday</div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="h5">Appointments Today</div>
                                    <div class="h1 font-weight-semibold">@Model.TotalAppointmentsToday</div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Visitors for last 6 months </h3>
                                </div>
                                <div class="card-body">
                                    <div id="morrisBar-graph" class="chartsh"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Visit Statistics (One week)</h3>
                                </div>
                                <div class="card-body">
                                    <div id="morrisBar-pie" class="chartsh"></div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Most Visited Months</h3>
                                </div>
                                <div class="card-body">
                                    <div id="morrisBar-chart" class="chartsh"></div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row row-cards row-deck">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Recent Visitors</h3>
                                </div>
                                <div class="card-body o-auto" style="height: 15rem">
                                    <ul class="list-unstyled list-separated">
                                        @if (Model.MostRecentVisitors.Count == 0)
                                        {
                                            <li>There are no recent visitors</li>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.MostRecentVisitors)
                                            {
                                                <li class="list-separated-item">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <td><img class="avatar bradius avatar-xl d-block" src="data:image/jpeg;base64,@Html.DisplayFor(modelItem => item.VisitImage)"</td>
                                                            @*<span class="avatar brround avatar-md d-block" style="background-image: url(~/Content/assets/images/faces/female/12.jpg)"></span>*@
                                                        </div>
                                                        <div class="col">
                                                            <div>
                                                                <a href="javascript:void(0)" class="text-inherit">@Html.DisplayFor(modelItem => item.VisitorFullName)</a>
                                                            </div>
                                                            <small class="d-block item-except text-sm text-muted h-1x">@Html.DisplayFor(modelItem => item.Email)</small>
                                                        </div>
                                                    </div>
                                                </li>
                                            }

                                        }


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-12  col-md-5 mt-3 mt-lg-0 text-center d-none d-md-block">
                        <div class="social">
                            <ul class="text-center">
                                <li>
                                    <a class="social-icon" href="https://www.facebook.com/FidelityBankplc/" target="_blank"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="https://twitter.com/fidelitybankplc" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                @*<li>
            <a class="social-icon" href="#"><i class="fa fa-youtube"></i></a>
        </li*@>
                                <li>
                                    <a class="social-icon" href="https://ng.linkedin.com/company/fidelitybankplc" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon" href="https://www.instagram.com/fidelitybankplc/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 col-md-7 mt-3 mt-lg-0 text-center">
                        Copyright © 2018 <a href="#">trueVisit</a>. With <i class="fa fa-heart blink text-danger"></i> from <a class="text-success" href="#">Fidelity Bank Digital LAB</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>
    <!-- Back to top -->
    <a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

    <!-- Dashboard Core -->
    <script src="~/Content/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/Content/assets/js/vendors/selectize.min.js"></script>
    <script src="~/Content/assets/js/vendors/jquery.tablesorter.min.js"></script>
    <script src="~/Content/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/Content/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Input Mask Plugin -->
    <script src="~/Content/assets/plugins/input-mask/jquery.mask.min.js"></script>

    <!--Morris.js Charts Plugin -->
    <script src="~/Content/assets/plugins/morris/morris.js"></script>
    <script src="~/Content/assets/plugins/morris/raphael-min.js"></script>
    <script src="~/Content/assets/js/staffdashboard.js"></script>

    <!-- c3.js Charts Plugin -->
    <script src="~/Content/assets/plugins/charts-c3/d3.v5.min.js"></script>
    <script src="~/Content/assets/plugins/charts-c3/c3-chart.js"></script>


    <!-- Notifications js -->
    <script src="~/Content/assets/plugins/notify/js/rainbow.js"></script>
    <script src="~/Content/assets/plugins/notify/js/sample.js"></script>
    <script src="~/Content/assets/plugins/notify/js/jquery.growl.js"></script>


    <!-- Custom scroll bar Js-->
    <script src="~/Content/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Custom Js-->
    <script src="~/Content/assets/js/custom.js"></script>

</body>
</html>
