﻿@model VMS_DIGLAB.Models.Visitor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaptopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaptopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
