﻿@{
    Layout = "~/Views/Shared/_ReceptionistMenuBar.cshtml";
}


<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Welcome Visitor</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Receptionist")">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Sign In Visitor</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title"> Sign In Visitor</div>
                    </div>
                    <div class="card-body p-6">
                        <div class="wizard-container">
                            <div class="wizard-card m-0" data-color="red" id="wizardProfile">
                                <form>
                                    <div class="wizard-navigation">
                                        <ul>
                                            <li>
                                                <a href="#appointment" data-toggle="tab">Appointment?</a>
                                            </li>
                                            <li>
                                                <a href="#details" data-toggle="tab">Personal Details</a>
                                            </li>
                                            <li>
                                                <a href="#device" data-toggle="tab">Device?</a>
                                            </li>
                                            <li>
                                                <a href="#imageCapture" data-toggle="tab">Image Capture</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane" id="appointment">
                                            <h4 class="info-text"> Do you have an appointment? </h4>
                                            <div class="row">
                                                <div class="col-sm-6" class="is_Appoint">
                                                    <div class="choice is_Appoint" data-toggle="wizard-radio">
                                                        <input type="radio" name="appointment" value="1">
                                                        <div class="icon">
                                                            <i class="fe fe-check"></i>
                                                        </div>
                                                        <h6>Yes</h6>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="choice is_Appoint" data-toggle="wizard-radio">
                                                        <input type="radio" name="appointment" value="0">
                                                        <div class="icon">
                                                            <i class="fe fe-x"></i>
                                                        </div>
                                                        <h6>No</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="details">
                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <div class="input-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" id="toggleItem">Host's Name <small>(required)</small></label>
                                                            <select name="hostname" class="form-control hostName" id="hostName" required>
                                                                <option disabled="" value="..." selected=""></option>
                                                                <option value="GJ">Gbolahan Joshua </option>
                                                                <option value="OO">Oluwole Oni</option>
                                                                <option value="CO"> ChungLee Ochieze</option>
                                                                <option value="AM">Adetunji Mustapha</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="input-group" id="appoint">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label" id="toggleItem2">Appointments <small>(required)</small></label>
                                                            <select name="hostAppointments" class="form-control hostName" id="hostAppointments" >
                                                                
                                                            </select>
                                                        </div>
                                                    </div>


                                                    <div class="input-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Visitor's Phone Number <small>(required)</small></label>
                                                            <input name="mobile"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder="Please input your phone number"
                                                                   pattern="^(?:[\d]{11})$"
                                                                   id="mobile"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Visitor's Fullname <small>(required)</small></label>
                                                            <input name="v_name"
                                                                   type="text"
                                                                   class="form-control"
                                                                   pattern="^(?:(?:[a-zA-Z]+\s+[a-zA-Z]+))$"
                                                                   id="v-name"
                                                                   required>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Visitor's Address / Company<small>(required)</small></label>
                                                            <input name="v_address" type="text" class="form-control" id="v_address" required>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Email Address</label>
                                                            <input name="email_address"
                                                                   required
                                                                   id="email"
                                                                   type="email"
                                                                   class="form-control"
                                                                   @{string regex = "^[a-zA-Z0-9.!#$%&’+/=?^_`{|}~-]+@[a-zA-Z0-9-]+[\\.]+[a-zA-Z0-9-]+(\\.[a-zA-Z0-9]*)*$"; }
                                                                   pattern=@regex>
                                                        </div>
                                                    </div>

                                                    <div class="input-group">

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Purpose of Visit</label>
                                                            <select name="purpose" class="form-control" required id="purpose">
                                                                <option disabled="" value="..." selected="">select purpose of visit</option>
                                                                <option value="Official" id="official"> Official </option>
                                                                <option value="Personal" id="personal"> Personal </option>
                                                                <option value="Other" id="other"> Other </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Point of Entry</label>
                                                            <select name="branchName" class="form-control" required id="branchName">
                                                                <option disabled="" value="..." selected="">select point of entry</option>
                                                                <option value="Block A"> Block A </option>
                                                                <option value="Block B"> Block B </option>
                                                                <option value="Block C"> Block C </option>
                                                                <option value="Fidelity Place"> FIDELITY PLACE </option>
                                                                <option value="HR'S Office"> HR'S OFFICE </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">

                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Visitor's Tag No. <small>(required)</small></label>
                                                            <input name="v_tagNo" type="text" class="form-control" id="v_tagNo" required>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="device">
                                            <div>
                                                <h4 class="info-text"> Do you have a device? </h4>
                                                <div class="row checkDevice">
                                                    <div class="col-sm-6">
                                                        <div class="choice" data-toggle="wizard-radio">
                                                            <input type="radio" name="hasDevice" value="Yes">
                                                            <div class="icon">
                                                                <i class="fa fa-laptop" rel="tooltip" title="Click if you have laptop with you."></i>
                                                            </div>
                                                            <h6>Yes</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="choice" data-toggle="wizard-radio">
                                                            <input type="radio" name="hasDevice" value="No">
                                                            <div class="icon">
                                                                <i class="fe fe-x" rel="tooltip" title="Click if you do not have a laptop with you."></i>
                                                            </div>
                                                            <h6>No</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Device sign in form-->
                                            <div class='row deviceFormGroup hidden'>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Type of Device</label>
                                                            <select name="deviceType" class="form-control" required id="deviceType">
                                                                <option disabled="" value="..." selected="">select your type of device</option>
                                                                <option value="Laptop"> Laptop </option>
                                                                <option value="Tablet"> Tablet </option>
                                                                <option value="Other"> Other </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Color of Device</label>
                                                            <select name="deviceColor" class="form-control" required id="deviceColor">
                                                                <option disabled="" value="..." selected="">select the color of your device</option>
                                                                <option value="Black"> Black </option>
                                                                <option value="Grey"> Grey </option>
                                                                <option value="White"> White </option>
                                                                <option value="Gold"> Gold </option>
                                                                <option value="Blue"> Blue </option>
                                                                <option value="Other"> Other </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Device Serial No.<small>(required)</small></label>
                                                        <input name="serialNo" type="text" class="form-control" required id="serialNo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="imageCapture">
                                            <h4 class="info-text"> Smile for the camera </h4>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div id="camera" style="padding-right:20px">

                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div id="capture">

                                                    </div>
                                                    <input name="hidden-pic-data" type="hidden" id="hidden-pic-data" />
                                                </div>
                                                <div class="col-sm-12 text-center">
                                                    <a href="#" class="btn btn-success" id="snap" onclick="take_snapshot()">Snap</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wizard-footer">
                                        <div class="pull-right">
                                            <input type='button' class='btn btn-next btn-fill btn-primary btn-wd m-0' name='next' value='Next' />
                                            <input type='button' class='btn btn-finish btn-fill btn-success btn-wd m-0' name='finish' value='Finish' id="finish" />
                                        </div>

                                        <div class="pull-left">
                                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd m-0' name='previous' value='Previous' />
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- wizard container -->
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<!--WebCam Js-->
<script src="~/Content/assets/js/webcam.min.js"></script>
<script language="JavaScript">
    Webcam.set({
        width: 320,
        height: 350,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach('#camera');
</script>
<!-- Code to handle taking the snapshot and displaying it locally -->
<script language="JavaScript">
    function take_snapshot() {
        // take snapshot and get image data
        Webcam.snap(function (data_uri) {
            // display results in page
            document.getElementById('capture').innerHTML =
                '<img name= "img_value" style="width:350px; height:320px; padding-top:43px; padding-bottom:15px; padding-left:10px" src="' + data_uri + '"/>';
            //console.log('snapped');
            document.getElementById('hidden-pic-data').value = data_uri;
            //console.log(typeof (data_uri));
        });
    }
</script>

<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<!-- Select2 js -->
<script src="~/Content/assets/plugins/select2/select2.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
    function clearFormFields() {
        $("#v-name").val("");
        $("#v_address").val("");
        $("#mobile").val("");
        $("#email").val("");
        $("#VisitorPhoneNumber").val("");
        $("#purpose").val("");
    }

    $("#hostName").select2().on('change', function (e) {
        var appointment = $('input[name="appointment"]:checked').val();
        if (appointment == "1") {
            getUserAppointments(this.value);
        }
        else {
            $("#hostAppointments") //remove option
                .find('option')
                .remove()
                .end();
        }
        
    });
    $("#hostAppointments").select2().on('change', function (e) {
        
        var hostValue = $("#hostAppointments option:selected").val();  
       
            $.ajax({
                //url: '/appointments/Detail/' + hostValue,
                url: '@Url.Action("detail", "appointments")/' + hostValue,
                type: 'json',
                success: function (response) {
                    clearFormFields();
                    $("#v-name").val(response.VisitorFirstName);
                    $("#v_address").val(response.VisitorCompany);
                    $("#mobile").val(response.VisitorPhoneNumber); 
                    $("#email").val(response.Email);
                    $("#VisitorPhoneNumber").val(response.VisitorPhoneNumber);
                    $("#branchName").val(response.BranchName);
                    if (response.Purpose == 1) {
                        $("#purpose").val("Personal");
                    }
                    else if (response.Purpose == 2) {
                        $("#purpose").val("Official");
                    }
                    else {
                        $("#purpose").val("Other");
                    }
                }, 
                failure: function () {
                    clearFormFields();
                }, 
                error: function () {
                    clearFormFields();
                }

            });
        
    });
</script>
<!--Choosen JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<!--Sign in js-->
<script src="~/Content/assets/js/signin.js"></script>
<!-- Dashboard js -->
<script src="~/Content/assets/js/vendors/jquery-3.2.1.min.js"></script>
<script src="~/Content/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.sparkline.min.js"></script>
<script src="~/Content/assets/js/vendors/selectize.min.js"></script>
<script src="~/Content/assets/js/vendors/circle-progress.min.js"></script>
<script src="~/Content/assets/js/vendors/jquery.tablesorter.min.js"></script>
<script src="~/Content/assets/plugins/rating/jquery.rating-stars.js"></script>

<!-- form-wizard js-->
<script src="~/Content/assets/plugins/forn-wizard/js/material-bootstrap-wizard.js"></script>
<script src="~/Content/assets/plugins/forn-wizard/js/jquery.validate.min.js"></script>
<script src="~/Content/assets/plugins/forn-wizard/js/jquery.bootstrap.js"></script>


<!-- Popover js -->
<script src="~/Content/assets/js/popover.js"></script>


<!-- Custom scroll bar Js-->
<script src="~/Content/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Sweet alert Plugin -->
<script src="~/Content/assets/plugins/sweet-alert/sweetalert.min.js"></script>
<script src="~/Content/assets/js/sweet-alert.js"></script>

<!-- Inline js -->
<script src="~/Content/assets/js/select2.js"></script>

<!-- Custom Js-->
<script src="~/Content/assets/js/custom.js"></script>
<script>

    (function () {
        getBranchUsers();
    })();

    function getBranchUsers()
    {
        $.ajax({
            url: "@Url.Action("branchusers", "receptionist")",
            type: 'POST',
            dataType: 'json',
            success: function (users) {
                
                if (Array.isArray(users)) {
                    $("#hostName")
                        .find('option')
                        .remove()
                        .end();

                    var option = document.createElement("option");
                    option.text = "---- Select Host ------";
                    option.value = "";
                    var select = document.getElementById("hostName");
                    select.appendChild(option);
                    $("#hostName").append(option);
                    
                    $.each(users, function (id, item) {
                        var option = document.createElement("option");
                        option.text = item.FullName + " (" + item.Unit + ")";
                        option.value = item.StaffId;
                        var select = document.getElementById("hostName");
                        select.appendChild(option);
                        $("#hostName").append(option);
                        //console.log(item)
                    });
                }
                else {
                    alert("no show");
                }

            }
        });
    }

    function getUserAppointments(staffId)
    {
        $.ajax({
            url: "@Url.Action("PendingAppointments", "receptionist")",
            type: 'POST',
            dataType: 'json',
            data: { 'staffId': staffId},
            success: function (resp) {
                pendingAppointments = resp.appointments;
                //console.log(pendingAppointments)
                if (resp.code == "00") {
                    //console.log("successful")
                    if (resp.appointments.length > 0) {
                        $("#hostAppointments") //remove option
                            .find('option')
                            .remove()
                            .end();

                        var option = document.createElement("option");
                        option.text = "---- Select Appointment ----";
                        option.value = "";
                        var select = document.getElementById("hostAppointments");
                        select.appendChild(option);
                        $("#hostAppointments").append(option);


                        $.each(pendingAppointments, function (id, item) {
                            var option = document.createElement("option");
                            option.text = item.VisitorFullName + " (" + item.VisitorPhoneNumber + ")";;
                            option.value = item.AppointmentId;
                            var select = document.getElementById("hostName");
                            select.appendChild(option);
                            $("#hostAppointments").append(option);
                            
                        });
                    }
                    else {
                        toastr.error("Error getting appointments, " + resp.message);
                        $("#hostAppointments") //remove option
                            .find('option')
                            .remove()
                            .end();
                    }
                }
                else {
                    toastr.error(resp.message);
                    $("#hostAppointments") //remove option
                        .find('option')
                        .remove()
                        .end();
                }

            }
        });
    }

    var isCaptured = 0;
    var pendingAppointments;
    var _isAppointment;
    $("#snap").click(function () {
        isCaptured += 1;
    });
   
    $(document).ready(function () {
        $('.is_Appoint').on('click', function (event) {
            
            var appointment = $('input[name="appointment"]:checked').val();
            clearFormFields();
           // console.log(appointment);
            if (appointment == '0') {
                _isAppointment = false;
                $("#appoint").hide();
                $("#hostAppointments").attr("required", false);
                $("#hostAppointments") //remove options
                    .find('option')
                    .remove()
                    .end();
            }
            else {
                $("#appoint").show();  //show 
                $("#hostAppointments").attr("required", true); //make required
                _isAppointment = true;
            }
        });

      
    });
    //$('#hostName').change(function (event) {
    //    alert(this.value);
        
    //});



    $("#finish").click(function () {
        var image = $("#hidden-pic-data").val().split(",")[1];
        if (isCaptured == 0 && image.trim() == "") {
            toastr.error("Please take a snapshot of the visitor");
            
        }
        else {

            var visitorName = $("#v-name").val();
            var visitorPhoneNumber = $("#mobile").val();
            var visitorImage = $("#hidden-pic-data").val().split(",")[1];
            var purpose = $("#purpose").val();
            var branchName = $("#branchName").val();
            var laptopName = $("#hostName").val(); //not yet implemented
            var isAppointment = _isAppointment; //$('input[name="appointment"]:checked').val() == "1" ? true : false;
            var serialNumber = $("#serialNo").val();
            var email = $("#email").val();
            var hostiD = $("#hostName").val();
            var visitorAddress = $("#v_address").val();
            var location = $("#branchName").val(); //duplicate
            var tagNumber = $("#v_tagNo").val();
            var deviceColour = $('#deviceColor').find(":selected").val();
            var hasDevice = $('input[name="hasDevice"]:checked').val();
            var deviceName = $('#deviceName').find(":selected").val();
            var appointmentId = $("#hostAppointments").val();  //not yet gotten
            var visitorCompany = $("#branchName").val(); //not yet implemented
            var deviceType = $('#deviceType').find(":selected").val();


            var data = {
                'VisitorFullName': visitorName,
                'VisitorPhoneNumber': visitorPhoneNumber,
                'VisitorImage': visitorImage,
                'Purpose': purpose,
                'BranchName': branchName,
                'LaptopName': laptopName,
                'IsAppointment': isAppointment,
                'SerialNumber': serialNumber,
                'VisitorCompany': visitorCompany,
                'Email': email,
                'HostId': hostiD,
                'VisitorAddress': visitorAddress,
                'Location': location,
                'TagNumber': tagNumber,
                'DeviceType': deviceType,
                'DeviceColour': deviceColour,
                'HasDevice': hasDevice,
                'DeviceName': deviceName,
                'AppointmentId': _isAppointment == true? appointmentId : 0,
                'VisitorCompany': visitorCompany,
                'VisitImage': visitorImage
            }

            //console.log(data);
            //alert();

            $.ajax({
                url: "@Url.Action("signin", "receptionist")",
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (resp) {
                    //console.log(resp)

                    if (resp.code == "00") {

                        swal("Good job!", "Sign in was successful", "success");
                        setTimeout(function () {
                            window.location.href = "@Url.Action("dashboard", "receptionist")";
                        }, 3000);

                    }
                    else if (resp.code == "99") {
                        swal("Oops!", "Could not sign you in. Please try again!", "error");
                    }
                    else {
                        swal("Oops!", "Error occured signing you in. Please try again!", "error");
                    }

                }
            });
        }
    });
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js">

</script>

